*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Keystore files
/keys/
*.jks
*.keystore

# Built binaries
*.apk
*.aab

# Local reference folders
/iOS-sloosh/
